<% content_for :head do %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
<% end %>

<div id="locations">
<h1><%= t("locations") %></h1>

<ul id="markers_list">  </ul>

<%= gmaps("markers" => {"data" => @json, "options" => {"list_container" => "markers_list" } }) %>

<%= yield :scripts %>
</div>
